:root{
    --heigth-of-box:50px;
}
body {
    background-color: #f5f5f5;
    display:block;
  }
.App {
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
  }

  .FileCard {
    position: relative;
    font-size: 10px;
    border: 1px solid #ccc;
    padding:  var(--heigth-of-box);
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
    border-color: #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
  }
  
  .Extension {
    position: absolute;
    top:15px;
    left:15px;
    font-size: 20px;
    font-weight: bold;
    
  }
  
  .FileName {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .FileName h3 {
    color: #333333;
  }


  .DownloadIcon {
    color: #007bff;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .DownloadIcon:hover {
    color: #0056b3;
  }

  .DeleteButtonContainer {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .DeleteButton {
    color: #007bff;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      color: #0056b3;
    }
  }
  
